<ul class="list-unstyled">
<% d = Date.today %>
<% today = d.strftime("%Y%m%d").to_i %>
<% if reservations.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>処理</th>
        <th>開催日</th>
        <th>コース</th>
      </tr>
    </thead>
    <tbody>
      <% reservations.each do |reservation| %>
        <% if reservation.date >= today %>
          <tr>
            <td><%= link_to '【変更・キャンセル】', edit_reservation_path(reservation) %></td>
            <td><%= reservation.date.to_s.to_date.strftime("%Y年%m月%d日") %></td>
            <td><%= reservation.course %></td>
          </tr>
        <% else %>
          <% next %>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <div>
    <%= paginate reservations %>
  </div>
<% end %>